.loginContainer {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  .loginCard {
    width: 30rem;
    margin: auto;
    padding: 2rem;
    .loginForm {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  }
}
